/* 头部区域 */
/* 内容区域 */
  main {
        width: 100%;
        height: 500px;
        background-color: #ccc;
      }

      main > article {
        width: 80%;
        height: 100%;
        background-color: purple;
        float: left;
      }

      main > aside {
        width: 20%;
        height: 100%;
        background-color: pink;
        float: right;
      }
/* 尾部区域 */