.outBox ul {
  display: flex;
}
.outBox li {
  list-style: none;
  margin: 20px;
  font-size: 120px;
  position: relative;
  top: 0px;
  color: #fff;
}
.outBox li:nth-child(1) {
  animation: myMove 1.5s ease alternate infinite;
}
.outBox li:nth-child(2) {
  animation: myMove 1.5s ease 0.5s alternate infinite;
}
.outBox li:nth-child(3) {
  animation: myMove 1.5s ease 1s alternate infinite;
}
.outBox li:nth-child(4) {
  animation: myMove 1.5s ease 1.5s alternate infinite;
}
@keyframes myMove {
  0% {
    color: #e5ff50;
    top: 160px;
    transform: rotateY(0deg) scale(1);
  }
  50% {
    color: #0296c8;
    top: 0px;
    transform: rotateY(180deg) scale(1.5);
  }
  100% {
    color: #ff6ac6;
    top: 160px;
    transform: rotateY(0deg) scale(1);
  }
}
