    .w {
        width: 1200px;
        margin: 0 auto;
    }

    @font-face {
        font-family: 'icomoon';
        src:  url('../fonts/icomoon.eot?tomleg');
        src:  url('../fonts/icomoon.eot?tomleg#iefix') format('embedded-opentype'),
          url('../fonts/icomoon.ttf?tomleg') format('truetype'),
          url('../fonts/icomoon.woff?tomleg') format('woff'),
          url('../fonts/icomoon.svg?tomleg#icomoon') format('svg');
        font-weight: normal;
        font-style: normal;
        font-display: block;
      }

    .shortcut {
        height: 31px;
        line-height: 31px;
        background-color: #f1f1f1;
    }

    .fl {
        float: left;
    }

    .fr {
        float: right;
    }

    .shortcut ul li {
        float: left;
    }
    .style_red {
        color: #c81623;
    }
    .fr ul li:nth-child(2n) {
        width: 1px;
        height: 12px;
        background-color: #666666;
        margin: 9px 14px 0;
    }

    .arrow-icon::after {
        content: '\e91e';
        margin-left: 6px;
        font-family: 'icomoon';
    }
    .header {
        position: relative;
        height: 106px;
            }
    .header .logo {
        position: absolute;
        top: 26px;
        width: 219px;
        height: 56px;
   }

    .logo a {
        display: block;
        width: 219px;
        height: 56px;
        background: url(../images/logo.png);
        /* font-size: 0;  京东隐藏文字做法*/
        /* 淘宝做法 */
        text-indent: -200px;
        overflow: hidden;
    }

    .search {
        position: absolute;
        top: 26px;
        left: 347px;
        width: 539px;
        height: 36px;
        border: 2px solid #b1191a;
    }

    .search input {
        float: left;
        width: 454px;
        height: 32px;
        padding-left: 10px;
    }

    .search button {
        float: left;
        width: 81px;
        height: 33px;
        font-size: 16px;
        color: white;
        background-color: #b1191a;
    }

    .hotwords {
        position: absolute;
        top: 69px;
        left: 354px;
        font-size: 12px;
        color: #666666;
    }
    .hotwords a {
        margin-left: 15px;
    }
    .shopcar {
        position: absolute;
        top: 26px;
        right: 64px;
        width: 140px;
        height: 36px;
        font-size: 12px;
        color: #666666;
        line-height: 36px;
        text-align: center;
        border: 1px solid #dfdfdf;
        background-color: #f7f7f7;
    }
    .shopcar::before {
        content: '\e93a';
        font-family: 'icomoon';
        margin-right: 10px;
    }
    .shopcar::after {
        content: '\e920';
        font-family: 'icomoon';
        margin-left: 10px;
    }
    .shopcar .count {
        position: absolute;
        top: -5px;
        left: 105px;
        height: 14px;
        line-height: 14px;
        padding: 0 5px;
        font-size: 12px;
        border-radius: 7px 7px 7px 0;
        color: #fefefe;
        background-color: #e60012;
    }
    .nav {
        height: 45px;
        margin-top: 24px;
        border-bottom: 2px solid #b1191a;
    }
    .dropdown {
        float: left;
        width: 209px;
        height: 45px;
        background-color: #b1191a;
    }
    .dropdown .dt {
        width: 100%;
        height: 100%;
        font-size: 16px;
        text-align: center;
        line-height: 45px;
        color: white;
    }
    .dropdown .dd {
       /*  display: none;
        */ width: 209px;
        height: 466px;      
        background-color: #c81623;
    }
    .dropdown .dd ul li {
        position: relative;
        height: 31px;
        margin-left: 2px;
        padding-left: 10px;
        line-height: 31px;                 
    }
    .dropdown .dd ul li::after {
        position: absolute;
        top: 1px;
        right: 10px;
        content: '\e920';
        font-family: 'icomoon';
        font-size: 14px;
        color: white;
    }
    .dropdown .dd ul li:hover {
        background-color: white;
    }
    .dropdown .dd ul li a {
        font-size: 14px; 
        color: white;
    }
    .dropdown .dd ul li:hover a {
        color: #c81623;
    }
    
    .navitems ul li {
        float: left;
    }
    .navitems ul li a {
        display: block;
        height: 45px;
        padding: 0 25px;
        font-size: 16px;
        text-align: center;
        line-height: 45px;
        color: #333333;
    }
    .navitems ul li:hover a {
        color: #c81623;
    }
    .footer {
        height: 415px;
        padding-top: 30px;
        background-color: #f5f5f5;
    }
    .mod-servic {
        height: 79px;
        border-bottom:1px solid #ededed;
    }
    .mod-servic ul li {
        float: left;
        width: 240px;
        height: 50px;
        padding-left: 35px;
   }
    .mod-servic ul li h5 {
        float: left;
        margin-right: 5px;
        width: 50px;
        height: 50px;
        border-radius: 25px;
    }
    .mod-servic ul li:nth-child(1) h5 {
        background:  url(../images/icons.png) no-repeat -252px -3px;
    }
    .mod-servic ul li:nth-child(2) h5 {
        background:  url(../images/icons.png) no-repeat -252px -53px;
    }
    .mod-servic ul li:nth-child(3) h5 {
        background: url(../images/icons.png) no-repeat -256px -106px;
    }
    .mod-servic ul li:nth-child(4) h5 {
        background:  url(../images/icons.png) no-repeat -258px -156px;
    }
    .mod-servic ul li:nth-child(5) h5 {
        background:  url(../images/icons.png) no-repeat -256px -208px;
    }
    .service-text h4 {
        padding-top: 8px;
        font-size: 14px;
        color: #333333;
    }
    .service-text p {
        font-size: 12px;
        color: #666666;
    }
    .mod-help {
        height: 186px;
        padding-left: 50px;
        padding-top: 20px;
        border-bottom:1px solid #ededed;
    }
    .mod-help dl {
        float: left;
        padding-right: 20px;
        margin-right: 100px;
        color:#333;
    }
    .mod-help dl dt {
        margin-bottom: 15px;
        font-size: 16px;
    }
    .mod-help dl dd a {
        font-size: 12px;
        color: #666666;
    }
    .mod-help dl:last-child {
        width: 90px;
        text-align: center;
    }
    .mod-copyright {
        text-align: center;
    }

    .mod-copyright .links {
        padding-top: 20px;
        margin-bottom: 16px;
    }
    .mod-copyright .links a {
    margin: 0 5px; 
}
    .mod-copyright .copyright {
        line-height: 20px;
    }
    