.main {
    position: relative;
    width: 980px;
    height: 455px;
    margin: 10px 0 10px 220px;
}
.kr{
    float: left;
}
.kr img {
    position: fixed;
    top: 200px;
    left: 10px;
    width: 220px;
}
.kr img:hover {
    display: none;
}
 .main .focus {
    float: left;
    width: 720px;
    height: 455px;
    background-color: pink;
    margin-right: 10px;
}
.main .newflash {
    float: left;
    width: 250px;
    height: 455px;
}
.news {
    height: 165px;
    border: 1px solid #e4e4e4;
}
.news-hd {
    height: 33px;
    line-height: 33px;
    border-bottom: 1px dotted #e4e4e4;
    padding: 0 15px;
}
.news-hd h5 {
    float: left;
    font-size: 14px;
}
.news-hd a {
    float: right;
}
.news-hd a::after {
    font-family: 'icomoon';
    content: '\e920';
}
.news-bd {
    padding: 5px 15px 0;
}
.news-bd ul li {
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    /* 强制一行不允许换行 */
    white-space: nowrap;
    /* 超出部分用省略号显示 */
    text-overflow: ellipsis;
}
.lifeservice {
    /* 切掉多余的部分 */
    overflow: hidden;
    height: 209px;
    border: 1px solid #e4e4e4;
    border-top: 0;
}
.lifeservice ul {
    width: 252px;
}
.lifeservice ul li {
    float: left;
    width: 63px;
    height: 71px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    text-align: center;
}
.lifeservice ul li i {
    display: inline-block;
    width: 24px;
    height: 28px;
    margin-top: 12px;
    background: url(../imagess/icons.png) no-repeat -19px -15px;
}
.bargain {
    margin-top: 5px;
}
/* 推荐模块 */
.recom {
    height: 163px;
}
.recom_hd {
    position: relative;
    float: left;
    width: 206px;
    background-color: #5c5251;
}
.recom_hd img {
    height: 163px;
}
.recom_hd p {
    position: absolute;
    top: 97px;
    left: 64px;
    font-size: 18px;
    color: #ffffff;
}
.recom_bd {
    float: left;
    position: relative;
}
.recom_bd ul li {
    float: left;
    width: 248px;
    height: 163px;
    background-color: #ebebeb;
}
.recom_bd ul li img {
    width: 248px;
    height: 163px;
}
/* 猜你喜欢模块 */
.caini {
    margin-top: 30px;
    height: 265px;
    border-bottom: 1px solid #f2f2f2;
}
.caini_hd {
    height: 35px;
    position: relative;
}
.caini_hd h3{
    float: left;
    font-size: 18px;
}
.caini_hd a {
    float: right;
    font-size: 12px;
    margin-right: 20px;
}
.caini_hd a::after {
    position: absolute;
    right: 0;
    font-family: 'icomoon';
    content: '\ea2e';
}

.caini ul li {
    position: relative;
    float: left;
    width: 200px;
    height: 260px;
    text-align: center;
}
.caini ul li img {
    margin-top: 15px;
}
.caini ul li:nth-child(4) img {
    margin-top: 50px;
}
.caini ul li p {
    position: absolute;
    top: 160px;
    left: 35px;
}
.caini ul li h3{
    position: absolute;
    top: 200px;
    left: 35px;
    color: #df383b;
    font-size: 16px;
}
/* 楼层区域 */
/* 家电区域 */
.box_hd {
    height: 30px;
    border-bottom: 2px solid #c81623;
}
.box_hd h3 {
    float: left;
    font-size: 18px;
    color: #c81623;
    font-weight: 400;
}
.tab_list {
    float: right;
}
.tab_list ul li {
    float: left;
}
.tab_list ul li a {
    margin: 0 14px;
}
.floor .w {
    margin-top: 30px;
}
.box_bd {
    height: 361px;
}
.tab_list_item>div {
    float: left;
    height: 361px;
}
.col_1 {
    background-color: #f9f9f9;
    width: 210px;
}
.col_1 ul {
    padding-left: 13px;
}
.col_1 ul li {
    float: left;
    width: 85px;
    height: 34px;
    line-height: 33px;
    text-align: center;
    border-bottom: 1px solid #ededed;
    margin-right: 10px;
}
.col_2 {
    width: 329px;
}
.col_34 {
    width: 221px;
    border-right: 1px solid #ededed;
}
.col_5 {
    width: 219px;
}
.bb {
    /* 一般情况下，a如果包含有宽度的盒子，a需要转换为块级元素 */
    display: block;
    border-bottom: 1px solid #ededed;
}
.kr {
    position: relative;
    left: 30px;

}
