.w {
    width: 1200px;
    margin: 0 auto;
}
header {
    height: 84px;
    border-bottom: 2px solid #d5261f;
}
.logo {
    padding-top: 15px;
}
.registerarea {
    height: 522px;
    border: 1px solid #cccccc;
    margin-top: 20px;
}
.registerarea h3 {
    height: 42px;
    line-height: 42px;
    border-bottom: 1px solid #cccccc;
    background-color: #ececec;
    padding: 0px 10px;
    font-size: 18px;
    font-weight: 400;
}
.registerarea h3 .login {
    float: right;
    font-size: 14px;
}
.login a{
    color: #d5261f;
}
.r_form {
    width: 600px;
    margin: 50px auto 0;
}
.r_form ul li {
    margin-bottom: 20px;
}
.r_form ul li label {
    display: inline-block;
    width: 88px;
    text-align: right;
}
.r_form ul li .inp {
    width: 242px;
    height: 37px;
    border: 1px solid #cccccc;
}
.error {
    color: #d5261f;
}
.error_icon,
.success_icon {
    display: inline-block;
    /* 让行内块元素垂直居中 */
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background: url(../imagess/error.png);
    margin: -2px 5px 0 0;
}
.success {
    color: green;
}
.success_icon {
    background: url(../imagess/success.png);
}
.safe {
    padding-left: 160px;
}
.safe em {
    padding: 0 12px;
    color: #ffffff;
    margin: 0 2px;
}
.ruo {
    background-color: red;
}
.zhong {
    background-color: green;
}
.qiang {
    background-color: orange;
}
.agree {
    padding-left: 90px;
}
.agree input{
    /* 让行内块元素垂直居中 */
    vertical-align: middle;
}
.agree a {
    color: red;
}
.tijiao {
    width: 200px;
    height: 34px;
    background-color: #cf221c;
    color: #ffffff;
    font-size: 16px;
    margin: 30px 0 0 100px;
}
/* 底部区域 */
.mod_copyright{
    text-align: center;
    padding-top: 20px;
}
.mod_copyright .links {
    margin-bottom: 15px;
}
.mod_copyright .links a {
    margin: 0 10px;
}
.mod_copyright .copyright {
    line-height: 20px;
}
